/* Contact.css */

.contact-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #ffffff;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
  
  .contact-container h1 {
    font-size: 38px;
    font-family: 'SF-Pro ', sans-serif;
    margin-bottom: 10px;
    border: none;
  }
  
 
  
  form {
    text-align: left;
    
  }
  
  label {
    display: block;
    font-style: italic;
    font-family: 'SF-Pro ', sans-serif;
    margin-top: 10px;
    font-size: 20px;
    font-weight: bolder;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #000000;
    border-radius: 3px;
    font-size: 16px;
    font-family: 'SF-Pro ', sans-serif;
  }
  
  textarea {
    resize: vertical;
  }
  
  /* button[type="submit"] {
<<<<<<< HEAD
    background-color: #f2f8ff;
=======
    background-color: #000000;
>>>>>>> 2cec2040abba3e59985411d2fd0c909e98cf7367
    color: #fff;
    border: none;
    padding: 10px 30px;
    border-radius: 5px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'SF-Pro ', sans-serif;
    transition: background-color 0.3s ease;
    font-weight: 700;
  } */
  
  button[type="submit"]:hover {
    background-color: #595a5a;
  }