.footer-container {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-family: 'SF-pro', sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-stack {
    flex: 1;
    text-align: center;
  }
  
  .footer-stack h1 {
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    border: none;
    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
  }

  .footer-stack h2 {
    margin: 0;
    border: none;
    font-size: 20px;
    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
    font-style: italic;
  }
  
  .footer-links {
    flex: 2;
    text-align: center;
    padding-left: 0px;
    border: none;
    text-decoration: none;
  }
  
  .footer-links h1 {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

    font-style: italic;
    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
    
  }

  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    padding: 15px;
    font-family: 'Open Sans', sans-serif;

    font-style: italic;
    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
    
  }
  
  .footer-links a:hover {
    transform: translateY(-10px); 
    color: gray;
  }
  
  .copyright {
    margin-top: 20px;
    
    font-style: italic;
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
    font-style: italic;

  }