.footer-container {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-stack {
    flex: 1;
    text-align: center;
  }
  
  .footer-stack p {
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;

  }
  
  .footer-links {
    flex: 2;
    text-align: center;
    padding-left: 150px;
  }
  
  .footer-links a {
    color: #fff;
    text-decoration: none;
    margin: 0 20px;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;

  }
  
  .footer-links a:hover {
    color: #fffafa;
    transform: translateY(-5px); 

  }
  
  .copyright {
    margin-top: 20px;
    margin-right: 100px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

  }