.footer-container {
    background-color: #000000;
    color: #fff;
    padding: 20px 0;
    text-align: center;
    width: 100%;
    font-family: 'SF-pro', sans-serif;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  
  .footer-stack {
    flex: 1;
    text-align: center;
  }
  
  .footer-stack h1 {
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;

    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
  }

  .footer-stack h2 {
    margin: 0;
    font-size: 20px;
    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
  }
  
  .footer-links {
    flex: 2;
    text-align: center;
    padding-left: 150px;
  }
  
  .footer-links h1 {
    color: #fff;
    text-decoration: none;
    margin: 0;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;


    font-family: 'SF-pro', sans-serif;
    font-weight: 700;
    
  }

  
  
  .footer-links a:hover {

    color: #fffafa;
    transform: translateY(-5px); 


    color: gray;
  }
  
  .copyright {
    margin-top: 20px;
    margin-right: 100px;
    font-style: italic;
    font-family: 'Open Sans', sans-serif;

    color: black;
    font-style: italic;

  }