.header {
    display: flex;
    flex:row;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 30vh 0px;
  }
  
  .header-image {
    border: 2px solid #333; /* Add border styling */
    width: 240px;    
    border-radius: 15px;
  }
  
  .header-info {
    padding: 20px;
  }
  
  h1 {
    font-size: 38px;
    margin: 0;
    border-bottom: 1px solid #333;
    font-family: 'Helvetica', sans-serif;
    
  }
  
  
  h2 {
    font-size: 18px;
    margin: 5px 0px;
    font-family: 'Helvetica', sans-serif;
    font-size: 24px;
    font-weight: 100;
  }
  
  .software-text {
    font-size: 20px;
    font-family: 'Helvetica', sans-serif;
    width: 350px;
    margin: 5px 0px;
  }
  
  .buttons {
    display: flex;
    justify-content:flex-start;
    
    margin-top: px;
  }
  
  .buttons a {
    text-decoration: none;
    border: 0.5px solid black;
    margin: 10px 5px;
  }
  
  .buttons img {
    max-width: 40px;
    
  }

  .softwares {
    margin: 0px 100px;
    padding: 0px;
  }

  .softwares ul li{
    list-style: none;
    border-left: 1px solid black;
    padding-left: 15px;
  }

  .softwares img {
    max-width: 40px;
    
  }

  @media screen and (max-width: 950px) {
    .softwares {
      margin: 0px 0px;
    }
  }

  @media screen and (max-width: 700px) {
    .header {
      width: 200px;
      display: flex;
      flex:column;
    }
  }

.software-icon {
  transition: transform 0.3s ease;
  border: 5px transparent solid; 
}

.software-icon:hover {
  transform: translateX(25px) rotate(45deg); 
  border: 5px transparent solid; 
}


.software-icon-wrapper {
  display: inline-block; /* Ensure that the div only takes the necessary space */
  transition: transform 0.3s ease;
}

.software-icon-wrapper:hover {
  transform: translateX(0) rotate(0deg); /* Apply transformations on hover */
}
