.header {
    display: flex;
    flex:row;
    justify-content: center;
    align-items: center;
    width: 600px;
    margin: 30vh 0px;
    
  }
  
  .header-image {
    border: 2px solid #333; /* Add border styling */
    width: 240px;    
    border-radius: 15px;
  }
  
  .header-info {
    padding: 20px;
  }
  
  h1 {
    font-size: 38px;
    margin: 0;
    border-bottom: 1px solid #333;
    font-family: 'SF-pro', sans-serif;
    
  }
  
  
  h2 {
    font-size: 18px;
    margin: 5px 0px;
    font-family: 'SF-pro', sans-serif;
    font-size: 24px;
    font-weight: 100;
  }
  
  .software-text {
    font-size: 20px;
    font-family: 'SF-pro', sans-serif;
    width: 350px;
    margin: 5px 0px;
  }
  
  .buttons {
    display: flex;
    justify-content:flex-start;
    
    
  }
  
  .buttons a {
    text-decoration: none;
    border: 0.5px solid black;
    margin: 10px 5px;
  }
  
  .buttons img {
    max-width: 40px;
    
  }

  .softwares {
    margin: 0px 100px;
    padding: 0px;
  }

  .softwares ul li{
    list-style: none;
    border-left: 1px solid black;
    padding-left: 15px;
  }

  .softwares img {
    max-width: 40px;
  }

  @media screen and (max-width: 950px) {
    .softwares {
      margin: 0px 0px;
    }
  }

  @media screen and (max-width: 700px) {
    .header {
      display: flex;
      flex-direction: column;
      margin: 10vh 0px;
      justify-content: center;
      align-items: center;
    }

    .header-image {
        width: 200px;

    }
    
    .softwares  ul {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-right: 75px;
      
    }
  
    .softwares ul li{
      
      display: grid;
      justify-content: center;
      align-items: center;
      border-left: 0px solid black;
      border-bottom: 1px solid black;
    }
    
    

    
  }

.software-icon {
  transition: transform 0.3s ease;
  border: 5px transparent solid; 
}

.software-icon:hover {
  transform: translateX(25px) rotate(45deg); 
  border: 5px transparent solid; 
}


.software-icon-wrapper {
  display: inline-block; /* Ensure that the div only takes the necessary space */
  transition: transform 0.3s ease;
}

.software-icon-wrapper:hover {
  transform: translateX(0) rotate(0deg); /* Apply transformations on hover */
}

.fade-in {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 4.0s ease, transform 4.0s ease;
}

.fade-in.show {
  opacity: 1;
  transform: translateY(0);
}
