/* Base styles */
.home {
  position: relative;
  text-align: center;
  color: rgb(206, 206, 206);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding-right: 200px;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 100;
}

.background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.background-image {
  width: auto;
  height: auto;
  position: right;
  opacity: 0.2;
}

.top-right-links {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 10px;
}

.top-right-links img {
  width: 50px;
  height: 50px;
  transition: transform 0.5s ease-in-out;
}

.top-right-links img:hover {
  animation: shake 0.7s ease-in-out;
  animation-iteration-count: 1;
}

@keyframes shake {
  0%, 100% { transform: translate(0, 0); }
  10%, 30%, 50%, 70%, 90% { transform: translate(-2px, -1px); }
  20%, 40%, 60%, 80% { transform: translate(2px, 1px); }
}

.welcome-text {
  position: relative;
  z-index: 1;
  max-width: 600px;
  margin: auto;
  padding: 20px;
  border-radius: 10px;
  font-size: 18px;
  font-family: 'Open Sans', sans-serif; 
  font-weight: 200;
}

.profile-picture {
  width: 50%;
  height: 50%;
  border-radius: 10%;
  border: #282c34 3px solid;
  margin-top: 20px;
  position: relative;
  z-index: 2;
}

.game-screenshot1 {
  width: 100px;
  height: 100px;
  position: absolute;
  top: -10px;
  right: -20px;
  opacity: 0.8;
  z-index: 1;
}

.game-screenshot2 {
  width: 100px;
  height: 100px;
  position: absolute;
  bottom: -10px;
  left: -20px;
  opacity: 0.8;
  z-index: 1;
}

.flip-wheel {
  display: inline-block;
  animation: flip-animation 2s infinite;
  width: 150px;
  text-align: left;
}

@keyframes flip-animation {
  0% { transform: translateY(0); opacity: 1; }
  45% { transform: translateY(-100%); opacity: 0; }
  55% { transform: translateY(100%); opacity: 0; }
  100% { transform: translateY(0); opacity: 1; }
}

/* Responsive styles for screens 800px or smaller */
@media (max-width: 800px) {
  .home {
    flex-direction: column;
    padding-right: 0;
    text-align: center;
  }

  .welcome-text {
    max-width: 100%;
    padding: 10px;
    font-size: 16px;
  }

  .profile-picture {
    width: 80%;
    height: auto;
    margin-top: 10px;
  }

  .game-screenshot1, .game-screenshot2 {
    width: 80px;
    height: 80px;
    position: static;
    margin: 5px auto;
    display: block;
  }

  .top-right-links {
    top: 5px;
    right: 5px;
    flex-direction: column;
    gap: 5px;
  }

  .top-right-links img {
    width: 40px;
    height: 40px;
  }
}
