.navbar {
    background-color: #111111;
    height: 50px;
    width: 2000px;
    border-radius: 0px 0px 30px 30px;
    display: flex;
    justify-content:center;
    align-items: center;
}

/* .logo {
    width: 70px;
    margin-top: 15px;
    margin-left: 0px;
    border-radius: 5px;
} */
  
.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    
}
  
.nav button {
    background-color: transparent;
    border: none;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'Open Sans', sans-serif;
    font-size: large;
<<<<<<< HEAD
    margin:15px;
    padding: 5px;
=======

    margin:15px
>>>>>>> 2cec2040abba3e59985411d2fd0c909e98cf7367
}

.nav button:hover {
    background-color: rgb(0, 0, 0);
    transform: translateY(5px); 

}

.fade-in {
    opacity: 0;
    transform: translateX(100px);
    transition: opacity 4.0s ease, transform 4.0s ease;
  }
  

.select-menu {
    position: relative;
    padding: 0px;

  }
  
  .options {
    list-style: none;
    padding: 0;
    margin: 0;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #333; /* Background color matching the navbar */
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px; /* Rounded corners at the bottom */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    
    
  }
  
  .option {
    display: flex;
    align-items: center;
    padding: 20px;
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-family: 'SF-Pro ', sans-serif;
    font-size: Small;
    font-style: italic;
  }
  
  
  
  
  

 
  
  