.nav {
  position: absolute;
  top: 0;
  left: 0;
  padding: 50px;
  padding-left: 100px;
}

.nav ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav ul li {
  margin-left: 20px;
}

.nav ul li a {
  text-decoration: none;
  color: black;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  position: relative;
}

.nav ul li a::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background: black;
  transition: width 0.3s;
}

.nav ul li a:hover::after {
  width: 100%;
}

.nav ul li a:hover {
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 700px) {
  .nav {
    position: static;
    display: flex;
    justify-content: center;
    padding: 10px;
    align-items: center;
    padding-bottom: 50px;
    margin-top: -50px;
  }

  .nav ul {
    flex-direction: row;
    align-items: center;
  }

  .nav ul li {
    margin: 0px 10px;
  }
}
