.projects-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding: 20px;
  justify-content: center;
}

.project-box {
  width: 300px;
  height: 300px;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 20px;
  background-color: #f0f0f0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: transform 0.2s ease-in-out;
}

.project-box img {
  
  max-height: 150px;
}

.prev-button,
.next-button {
  width: 100px;
  margin: 10px;
  padding: 10px;
  cursor: pointer;
  border: none;
  background-color: #ffffff;
  color: white;
  font-size: 16px;
}

@media (max-width: 700px) {
  .prev-button,
  .next-button {
    display: none;
  }

  .project-box {
    width: 100%;
    max-width: 300px; /* Adjust the maximum width as needed */
    height: fit-content;
  }
}

.button {
  display: flex;
  justify-content: left;
  align-items: center;
  font-family: 'SF-Pro', 'sans-serif'; 
  
}

.button a {
  text-decoration: none;
  color: black;
  

}
