@font-face {
  font-family: 'Helvetica'; /* Choose a name for your font */
  src: url('./components/assets/images/fonts/Helvetica Neue Regular.otf') format('opentype');
  /* Adjust the URL to point to your OTF font file's location */
}

body {
  margin: 0;
  padding: 0;
  
  
  overflow-x: hidden;
}

.Apps {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%; 

}

