body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  background-color: #121212;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: #121212; /* Ensure consistent background when scrolling */
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  z-index: 2; /* Ensure it stays on top */
  background-color: #121212; /* Ensure consistent background when scrolling */
}

.header .top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.header .left {
  display: flex;
  align-items: center;
}

.header .right {
  display: flex;
  align-items: center;
}

.header img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.header .info {
  margin-left: 10px;
}

.header .info .name {
  font-size: 18px;
}

.header .info .role {
  font-size: 14px;
  color: gray;
}

.timer {
  color: gray;
}

.toggle-button {
  color: gray;
  cursor: pointer;
}

.linkedin-github-links img {
  width: 20px;
  height: 20px;
  margin-left: 10px;
}

.bubble-buttons {
  display: flex;
  justify-content: space-around;
  margin: 15px 0;
  z-index: 2; /* Ensure it stays on top */
  background-color: #121212; /* Ensure consistent background when scrolling */
}

.bubble-buttons button {
  background-color: #121212; /* Ensure consistent background when scrolling */
  border: 1px solid gray;
  border-radius: 20px;
  padding: 10px 20px;
  font-size: 14px;
  color: white;
  cursor: pointer;
}

.recent-posts {
  padding: 10px;
  z-index: 2; /* Ensure it stays on top */
  background-color: #121212; /* Ensure consistent background when scrolling */
}

.recent-posts h2 {
  font-size: 16px;
  margin-bottom: 10px;
}

.sort-button {
  background-color: #121212;
  border: 1px solid gray;
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 14px;
  color: white;
  cursor: pointer;
  margin-bottom: 10px;
}

.posts-wrapper {
  position: relative;
  flex: 1;
  overflow-y: scroll;
  padding-bottom: 60px; /* Space for the navbar */
}

.posts {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px; /* Space for the current project */
}

.post {
  display: flex;
  align-items: center;
  background-color: #121212; /* Ensure consistent background when scrolling */
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  height: 100px;
  width: calc(100% - 40px);
  overflow: hidden;
  margin: 5px 20px;
}

.post img {
  width: 100px;
  height: 100px;
  border-radius: 10px;
  margin-right: 10px;
}

.post .details {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.post .title {
  font-size: 16px;
  font-weight: bold;
}

.post .language {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: gray;
}

.post .language img {
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.current-project {
  position: fixed;
  bottom: 60px; /* Adjust this value to position above the navbar */
  left: 10px;
  right: 10px;
  background-color: #282828;
  border-radius: 10px;
  padding: 10px;
  z-index: 1;
  display: flex;
  align-items: center;
}

.current-project img {
  width: 25px;
  height: 25px;
  border-radius: 10px;
  margin-right: 10px;
}

.current-project .details {
  display: flex;
  flex-direction: column;
}

.current-project .title {
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
}

.current-project .language {
  font-size: 12px;
  color: gray;
}

.current-project .progress-bar {
  margin-top: 10px;
}

.progress {
  width: 100%;
  background-color: gray;
  border-radius: 10px;
}

.progress .progress-bar-fill {
  height: 10px;
  border-radius: 10px;
  background-color: #1db954;
}

.navbar {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-around;
  background-color: #121212;
  padding: 10px 0;
  z-index: 2; /* Ensure it stays on top */
}

.navbar button {
  background: none;
  border: none;
  color: rgb(187, 179, 179);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 12px;
}

.navbar button img {
  width: 22px;
  height: 22px;
  margin-bottom: 5px;
  color: rgb(187, 179, 179);
}

::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

/* Styles for screens wider than 800px */
@media (min-width: 800px) {
  .App {
    flex-direction: row;
  }

  .header {
    flex-direction: column;
    align-items: flex-start;
    padding: 20px;
  }

  .header .info {
    margin-left: 0;
    margin-top: 10px;
  }

  .bubble-buttons {
    flex-direction: column;
    align-items: flex-start;
  }

  .bubble-buttons button {
    margin-bottom: 10px;
    padding: 10px 30px;
    font-size: 16px;
  }

  .recent-posts, .posts-wrapper {
    flex: 1;
  }

  .current-project {
    position: relative;
    margin-top: 20px;
    bottom: auto;
  }

  .navbar {
    position: relative;
    margin-top: 20px;
    bottom: auto;
  }
}
